html, body {
    margin: 0;
}

body {
    background-color: #222;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

.top-header {
    height: 2.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 8px;
}

.header-button {
    height: 35px;
    aspect-ratio: 1/1;
    color: white;
    background: none;
    border: none;
    cursor: pointer;    
}

h1 {
    font-size: 24px;
    margin: 0;
}

.alerts {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

.alert {
    background-color: #5e56a5;
    padding: 10px 20px;
    height: 80%;
}

hr {
    border: none;
    height: 1px;
    background-color: gray;
    margin: 0;
    margin-bottom: 5px;
}

.container {
    max-width: 500px;
    width: 100%;
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100); /* Adapt to mobile screens */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#wordGridContainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-grow: 1;
    overflow: hidden;
}

#wordGrid {
    width: 320px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px
}

.letter {
    height: 1.5em;
    aspect-ratio: 1/1;
    border: 1px solid gray;
    background-color: none;
    color: white;
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin: 0 8px;
}

.keyrow {
    width: 100%;
    margin: 0 auto 8px;
    justify-content: space-between;
    display: flex;
}

.keyrow:nth-of-type(2) {
    justify-content: space-around;
}

.key {
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #7d7d7d;
    background-color: #7d7d7d;
    cursor: pointer;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-key {
    max-width: 3em;
    flex-grow: 1;
    margin: 0 1px;
}

.key-large {
    max-width: 6em;
    flex-grow: 2;
    margin: 0 1px;
}

.key:active {
    background-color:rgb(100, 100, 100);
}

.used {
    background-color:#3c3c3c;
    border: 1px solid #3c3c3c;
}

.contained {
    background-color: #b59f3b;
    border: 1px solid #b59f3b;
}

.correct {
    background-color: #538d4e;
    border: 1px solid #538d4e;
}